body {
    background-color: #ff00ff;
    font-family: "Comic Sans MS", cursive;
    color: #00ff00;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #ff0000;
    background-color: #ffff00;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline overline;
    border: 10px solid blue;
    padding: 10px;
    margin: 20px 0;
    letter-spacing: 8px;
}
h4{
    color: #8800ff;
    background-color: #ff8800;
    font-size: 20px;
    text-transform: uppercase;
    border: 10px solid olivedrab;
    padding: 10px;
    margin: 20px 0;
    letter-spacing: 8px;

}
h6{
    color: #0015ff;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0;

}
p {
    background-color: #04ff00;
    color: #8800ff;
    font-size: 16px;
    border: 10px solid red;
    padding: 8px;
    margin: 5px;
}
img {
    border: 8px solid lime;
    transform: rotate(5deg);
    background-color: red;
    padding: 5px;
    display: block;
    margin: 10px auto;
    max-width: 70%;
}
table {
    background-color: orange;
    border: 6px solid purple;
    margin: 10px auto;
    width: 50%;
}

ul {
    background-color: cyan;
    border: 4px solid magenta;
    padding: 10px 30px;
    display: inline-block;
    text-align: left;
}
